{% extends 'base.html.twig' %}
{% block body %}
<h2 class="page-header">Edit Venue</h2>
	{{form_start(form)}}
	{{form_widget(form)}}
	<button type="submit" class="btn btn-primary">Save Venue</button>
	<a href="/venue/list" class="btn btn-danger">Cancel</a>	
	{{form_end(form)}}
{% endblock %}
